# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.DS_Store
도강/비주얼/visual_20193148/.vs/visual_20193148/v16/.suo
도강/비주얼/visual_20193148/.vs/visual_20193148/v16/Browse.VC.db
도강/비주얼/visual_20193148/.vs/visual_20193148/v16/Browse.VC.opendb
도강/비주얼/visual_20193148/.vs/visual_20193148/v16/ipch/AutoPCH/86f22c4a2eb09795/소스.ipch
도강/비주얼/visual_20193148/x64/Debug/vc142.idb
도강/비주얼/visual_20193148/x64/Debug/vc142.pdb
*.pdb
*.ilk
*.tlog
도강/비주얼/visual_20193148/x64/Debug/visual_20193148.vcxproj.FileListAbsolute.txt
도강/비주얼/visual_20193148/visual_20193148.vcxproj.user
도강/비주얼/visual_20193148/x64/Debug/visual_20193148.exe
도강/비주얼/visual_20193148/visual_20193148.vcxproj.filters
도강/비주얼/visual_20193148/visual_20193148.vcxproj
도강/비주얼/visual_20193148/visual_20193148.sln
도강/비주얼/visual_20193148/x64/Debug/소스.obj
토익/ideaIC-2021.3.3.dmg
1.대내외활동/전공튜터링/2022-1학기 전공튜터링 신청서.hwp
캡스톤디자인/4-1_Capstone_Document/
